@model Auqaponics2.Models.Specs

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TankSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TankSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterTemp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterTemp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pH)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpecsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
