@model IEnumerable<Auqaponics2.Models.Specs>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TankSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pH)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TankSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpecsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpecsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpecsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
